<footer>
  <div class="logos">
    <a href="{{site.baseurl}}/">
      <img src="{{ site.baseurl }}/images/logo_bottom.png" alt="" />
    </a>

    <div class="credits">
      <a href="https://linktr.ee/capivararpgista" target="_blank">
        <img src="{{ site.baseurl }}/images/logo_capivararpgista.png" alt="" />
      </a>

      <a href="https://www.epiclevel.com.br/" target="_blank">
        <img src="{{ site.baseurl }}/images/logo_epiclevel.png" alt="" />
      </a>
    </div>
  </div>

  <a href="https://www.johnywalves.com.br" target="_blank">
    <p>
      Desenvolvido com <strong>♥</strong> por <strong>Johny W. Alves</strong>
    </p>
  </a>
</footer>
