{% include head.html %}

<style type="text/css" media="screen">
  main {
    display: flex;
    flex-direction: column;
  }

  main a {
    font-size: var(--font-tale-p);
  }

  main section#hero {
    width: 100%;

    position: relative;
    padding: 6rem 2rem;
    background: linear-gradient(
      135deg,
      var(--color-background) 25%,
      var(--color-primary-pure) 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    & h2 {
      z-index: 2;
      width: 60%;
      font-size: 3rem;

      @media (max-width: 980px) {
        width: 100%;
      }
    }

    & p {
      z-index: 2;
      width: 75%;
      font-size: 1.5rem;

      @media (max-width: 980px) {
        width: 100%;
      }
    }

    & img {
      z-index: 1;
      position: absolute;
      bottom: 0;
      right: 0;

      @media (max-width: 980px) {
        opacity: 0.5;
      }
    }
  }

  main section#tales {
    padding: 2rem 2rem;

    font-size: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h2 {
      font-size: 3rem;
      text-align: center;
    }

    & div#collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;

      @media (max-width: 980px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 540px) {
        grid-template-columns: 1fr;
      }
    }

    & div.tale {
      border: 0.125rem var(--color-margin) solid;
      border-radius: 0.5rem;
      padding: 1.5rem 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        background-color: var(--color-primary-pure);
        color: var(--color-text);
      }

      & a:hover {
        color: var(--color-text);
      }

      & h3 {
        font-size: 2.5rem;
      }

      & small {
        font-size: 75%;
      }
    }
  }

  main section#team {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 5rem;

    & img {
      width: 100%;
    }
  }
</style>

<body>
  {% include header.html %}

  <main id="home">
    <section id="hero">
      <img src="{{ site.baseurl }}/images/hero_image.png" alt="" />

      <h2>A Wyld está em Perigo, e os Garou Lutam por Sua Última Chance</h2>
      <p>
        De policiais à margem da lei a guias comunitários traídos pelo sistema,
        de políticos corruptos a vocalistas que canalizam a fúria em gritos de
        revolta — estes são os últimos guardiões de Gaia. Em um mundo onde o
        Wyrm consome tudo, suas histórias são crônicas de sangue, glória e
        desespero. A Terra agoniza. Eles são a única resistência.
      </p>
    </section>

    <section id="tales">
      <h2>Crônicas</h2>
      <div id="collection">
        {% for post in site.posts %}

        <a href="{{ site.baseurl }}/{{ post.slug }}">
          <div class="tale">
            <small>Capítulo {{ post.chapter }}</small>
            <h3>{{ post.title }}</h3>
          </div>
        </a>

        {% endfor %}
      </div>
    </section>

    <section id="team">
      <img src="{{ site.baseurl }}/images/team.png" alt="" />
    </section>
  </main>

  {% include footer.html %}
</body>
