{% include head.html %}

<style type="text/css" media="screen">
  main {
    display: flex;
    flex-direction: column;
  }

  main a {
    font-size: var(--font-tale-p);
  }

  main section {
    padding: var(--margin-content-y) var(--margin-content-x);
  }

  main #tales {
    font-size: 1.25rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  @media (max-width: 980px) {
    main #tales {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 540px) {
    main #tales {
      grid-template-columns: 1fr;
    }
  }

  main div.tale {
    border: 1px var(--color-margin) solid;
    border-radius: 0.5rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div.tale small {
    font-size: 50%;
  }
</style>

<body>
  {% include header.html %}

  <main id="home">
    <section id="tales">
      {% for post in site.posts %}
      <a href="{{ site.baseurl }}/{{ post.slug }}">
        <div class="tale">
          <small>Capítulo {{ post.chapter }}</small>
          <h3>{{ post.title }}</h3>
        </div>
      </a>
      {% endfor %}
    </section>
  </main>

  {% include footer.html %}
</body>
