{% include head.html %}

<style type="text/css">
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  picture.feature {
    width: 100%;
    height: 250px;

    background: var(--color-background);
    background: var(--gradient-hero);
  }

  img.feature {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  div.title {
    padding: var(--margin-content-y) var(--margin-content-x);
  }

  h2 {
    font-size: var(--font-tale-h2);
  }

  p {
    padding: 0 var(--margin-content-x);

    line-height: 150%;
    text-align: justify;
    text-indent: calc(var(--font-tale-p) * 2);

    font-size: var(--font-tale-p);
  }

  p.sometime {
    padding-top: var(--font-tale-p);
    padding-bottom: var(--font-tale-p);
    text-align: center;
  }

  audio {
    margin: 0 auto;
  }

  p:has(img) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 5rem var(--margin-content-x);

    & img {
      width: 80%;
    }

    @media (max-width: 980px) {
      padding: 5rem 0;

      & img {
        width: 100%;
      }
    }
  }
</style>

<body>
  {% include header.html %}

  <main id="tale">
    <picture class="feature">
      <img
        class="feature"
        src="{{ site.baseurl }}/images/{{page.feature}}"
        alt=""
      />
    </picture>

    <div class="title">
      <small>Capítulo {{ page.chapter }}</small>
      <h2>{{ page.title }}</h2>
    </div>

    {{ content }}
  </main>

  {% include footer.html %}
</body>
