{% include head.html %}

<style type="text/css" media="screen">
  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  main img.feature {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  main div.title {
    padding: var(--margin-content-y) var(--margin-content-x);
  }

  main h2 {
    font-size: var(--font-tale-h2);
  }

  main p {
    padding: 0 var(--margin-content-x);

    line-height: 150%;
    text-align: justify;
    text-indent: calc(var(--font-tale-p) * 2);

    font-size: var(--font-tale-p);
  }

  main p.sometime {
    padding-top: var(--font-tale-p);
    padding-bottom: var(--font-tale-p);
    text-align: center;
  }

  main p:has(img) {
    text-align: center;
    margin: var(--margin-content-y) auto;
  }

  main p img {
    max-width: 80%;
  }
</style>

<body>
  {% include header.html %}

  <main id="tale">
    <img
      class="feature"
      src="{{ site.baseurl }}/images/{{page.feature}}"
      alt=""
    />
    <div class="title">
      <small>Capítulo {{ page.chapter }}</small>
      <h2>{{ page.title }}</h2>
    </div>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
