{% include head.html %}

<style type="text/css">
  body {
    background-image: url("{{ site.baseurl }}/images/{{ page.background }}");
    background-position: top right;
    background-repeat: no-repeat;
    background-position-y: 3rem;
    background-attachment: fixed;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & p {
      padding: 0 var(--margin-content-x);
      font-size: var(--font-tale-p);
    }

    & p:not(:has(code)) {
      line-height: 150%;
      text-align: justify;
      text-indent: calc(var(--font-tale-p) * 2);
    }

    & p:has(code) {
      line-height: 125%;
      text-align: left;

      & span {
        font-size: 80%;
        opacity: 0.8;
      }
    }

    & h2 {
      padding: 2.5rem var(--margin-content-x) 0;
      font-size: var(--font-tale-h2);
    }

    & h3 {
      padding: 1.5rem var(--margin-content-x) 0;
      font-size: var(--font-tale-h3);
    }

    & img {
      margin: 0 auto;

      @media (max-width: 980px) {
        width: 100%;
      }
    }

    & div.title {
      display: flex;
      flex-direction: column;
      font-size: var(--font-tale-h2);

      & small {
        padding: 0 var(--margin-content-x);
        font-size: 50%;
        font-weight: 300;
      }
    }
  }
</style>

<body>
  {% include header.html %}

  <main>
    <img src="{{ site.baseurl }}/images/{{ page.thumbnail }}" alt="" />

    {%if page.danger %}
    <p>
      <strong><code></code></strong>
    </p>

    <p>
      <strong
        ><code
          >NOTIFICAÇÃO CSN - ACESSO RESTRITO NÍVEL 4<br />
          ALERTA DE SEGURANÇA MÁXIMA</code
        ></strong
      >
    </p>

    <p style="margin-top: 1rem">
      <strong><code>IDENTIFICAÇÃO DO ALVO:</code></strong>
    </p>

    <p>
      <code><strong>Código</strong>: "LUPUS SANGUINARIS"</code>
    </p>
    <p>
      <code>
        <strong>Classificação</strong>: Bandido Altamente Perigoso (BAP) /
        Possível Híbrido Lobisomem
      </code>
    </p>
    <p>
      <code>
        <strong>Nível de Ameaça</strong>: EXTREMO (Hostilidade confirmada em
        múltiplas jurisdições)
      </code>
    </p>
    <p>
      <code>
        <strong>Última Localização</strong>: Desconhecida (Rastros em zonas de
        colapso sobrenatural)
      </code>
    </p>

    <p style="margin-top: 1rem">
      <strong><code>ORDENS DO CSN:</code></strong>
    </p>

    <p>
      <code>
        <strong>NÃO ABORDAR SEM REFORÇOS</strong>: (mínimo 3 unidades táticas
        com equipamento Prata-Éter, autorização N4).
      </code>
    </p>

    <p>
      <code>
        Caso avistado, priorizar contenção de civis e evacuação silenciosa. O
        alvo é atraído por gritos e frequências de rádio não criptografadas.
      </code>
    </p>

    <p>
      <code>
        <strong>Engajamento permitido apenas em legítima defesa.</strong>
        Relatos indicam que ferimentos convencionais só aumentam sua
        agressividade.
      </code>
    </p>

    {% endif %} {%if page.gestapo %}
    <p>
      <strong>
        <code>Geheime Reichssache</code>
        <br />
        <span>Assunto Secreto do Reich</span>
      </strong>
    </p>

    <p>
      <code>Oslo, den 18.09.1940</code>
      <br />
      <span>Oslo, 18 de setembro de 1940</span>
    </p>

    <p>
      <code>
        An: Abteilung „Übernatürliche Wesen“ – Gestapo / RSHA<br />
        <span>
          Para: Departamento de Seres Sobrenaturais – Gestapo / RSHA
        </span>
      </code>
    </p>

    <p>
      <code>
        Betreff:
        <strong>
          Sondervorgang Ringerike – Verdacht auf Werwolf-Aktivitäten
        </strong>
        <br />
        <span>
          Assunto:s
          <strong>
            Operação Especial Ringerike – Suspeita de Atividades de Lobisomens
          </strong>
        </span>
      </code>
    </p>

    <p>
      <code>
        Hiermit übermitteln wir die beigefügten Berichte über ungewöhnliche
        Vorfälle in der Region Ringerike (Norwegen).<br />
        <span>
          Encaminhamos os relatórios anexos sobre os recentes incidentes
          incomuns na região de Ringerike (Noruega).
        </span>
      </code>
    </p>

    <p>
      <code>
        Zeugenberichte und erste Ermittlungen deuten auf mögliche Aktivitäten
        feindlicher, übernatürlicher Natur hin – insbesondere Verdacht auf
        Werwölfe.<br />
        <span>
          Relatos de testemunhas e investigações preliminares indicam possível
          atividade inimiga de natureza sobrenatural – suspeita de lobisomens.
        </span>
      </code>
    </p>

    <p>
      <code>
        Unverzügliche Prüfung und Einsatz weiterer Spezialkräfte werden
        angeordnet.<br />
        <span>
          Determina-se investigação imediata e envio de forças especializadas
          adicionais.
        </span>
      </code>
    </p>

    <p>
      <strong>
        <code>Nur für autorisierte Stellen!</code><br />
        <span> Somente para setores autorizados!</span>
      </strong>
    </p>

    <p><code>Dr. H. Vogel</code></p>
    <p>
      <code>
        Leiter der Sonderabteilung für Übernatürliche Angelegenheiten
        <br />
        <span> Chefe da Seção Especial de Assuntos Sobrenaturais </span>
      </code>
    </p>
    <p>
      <code>RSHA – Amt VI</code>
      <br />
      <span>RSHA – Departamento VI</span>
    </p>
    {% endif %} {%if page.csn %}
    <p>
      <strong>
        <code>
          ATENÇÃO: Este documento é classificado como NÍVEL 5 – OLHOS SOMENTE
          pela Força Especial de Controle Sobrenatural (FECS-RP), Divisão
          Monitoramento, Unidade Lobos.
        </code>
      </strong>
    </p>

    <p>
      <strong>
        <code>
          Acesso restrito a oficiais autorizados pelo Controle Sobrenatural
          Nacional (CSN).<br />Divulgação não autorizada sujeita a penalidades
          sob o Artigo 13-B da Lei Ocultista.
        </code>
      </strong>
    </p>
    <p>
      <code>Prossiga apenas se possuir <em>clearance</em> válido.</code>
    </p>
    {% endif %}

    <div class="title">
      <h2>Dossiê Garou: {{ page.title }}</h2>
      <small>{{ page.subtitle }}</small>
    </div>

    {{ content }}
  </main>

  {% include footer.html %}
</body>
